@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: black; */
}
h1{
    height: 28vh;
    width: 50vw;
    color: rgb(46, 6, 98);
    position: relative;
    left: 25%;
    top:8%;
    text-align: center;
    /* align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 20px green;
}
h1{
    /*for font*/
    font-size: larger;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 38px;
}
.box{
    height: 28vh;
    width: 50vw;
    /* border: 3px solid red; */
    color: rgb(211, 4, 166);
    position: absolute;
    left: 25%;
    top:38%;
    text-align: center;
    /* align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("34_red-blue-yellow-smoke-abstract-header-800x200.jpg"); */
}
.box{
    /*for font*/
    font-size: larger;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 38px;
}
.con
{
    height: 10px;
    display: flex;
    align-content: center;
}
:root {
	--clr-neon: rgba(235, 97, 143, 1);
	--clr-bg: rgba(1, 1, 1, 1);
	--clr-white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.button {
	font-size: 2em;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--clr-neon);
	border: var(--clr-neon) 4px solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;

	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

	position: relative;
    top: 66%;
    position: absolute;
    justify-content: center;
    text-align: center;
    left: 45%;
    font-size: larger;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 38px;
}

.button::before {
	pointer-events: none;
	content: "";
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;

	transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em);
	opacity: 0.7;

	transition: transform 0.5s linear;
}

.button::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
	opacity: 0;
	background: var(--clr-neon);
	z-index: -1;
	transition: opacity 0.5s linear;
}

.button:hover,
.button:focus {
	color: var(--clr-bg);
	text-shadow: none;
}

.button:hover::before,
.button:focus::before {
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	transition: transform 0.5s linear;
}

.button:hover::after,
.button:focus::after {
	opacity: 1;
}

h1 {
	font-size: 2em;
    background: pink;
	display: inline-block;
	/* cursor: pointer; */
	text-decoration: none;
	color: var(--clr-neon);
	/* border: var(--clr-neon) 4px solid; */
	padding: 1em 1em;
	border-radius: 0.25em;

	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1::before {
	pointer-events: none;
	content: "";
	position: absolute;
	background: var(--clr-neon);
	top: 70%;
	left: 0;
	width: 100%;
	height: 100%;

	transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em);
	opacity: 0.7;

	transition: transform 0.5s linear;
}

h1::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
	opacity: 0;
	background: var(--clr-neon);
	z-index: -1;
	transition: opacity 0.5s linear;
}

h1:hover,
h1:focus {
	color: var(--clr-bg);
	text-shadow: none;
}

/* h1:hover::before,
h1:focus::before {
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	transition: transform 0.5s linear;
} */
@media screen and (min-width:412px) {
	body{
		height: 100vh;
		overflow: hidden;
	}
	h1{
		height: 15vh;
	}
	.button{
		top: 70vh;
		left: 10px;
		right: 10px;
		height: 10vh;
	}
	.box{
		width: 100vw;	
		left: 0px;
	}
	img{
		top: 40px;
	}
}